:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #167347, #14BF6E, #DDDEAE);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
